<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>发布内容</cite></a>
                <a><cite>关于笔记博客</cite></a>
            </span>
</div>
<hr>
<div class="layui-fluid layui-admin-mt20">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md7">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>进化史</legend>
            </fieldset>
            <ul class="layui-timeline">

                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2018年3月23日（使用<em>Layui2.0+SSM+MySQL</em>的第二版），<em>v2.0</em></h3>
                        <p><i class="fa fa-asterisk"></i> 这个版本主要升级了前端框架LayUI,解决浏览器的兼容性问题。</p>
                        <p><i class="fa fa-asterisk"></i> 修复了一些业务流程上的不完善和常见的一些bug。</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2017年11月X日（使用<em>Layui1.0+SSM+MySQL</em>的第一版），<em>v1.0</em></h3>
                        <p><i class="fa fa-asterisk"></i>前端很弱,但是一直在学LayUI,有了一定的积累之后，决定将前端框架换成LayUI,后台换成SSM了。</p>
                        <p><i class="fa fa-asterisk">正好这时候领导觉得做的这个东西很有意义，又给我提了一些需求，新增了系统管理，课后测试，助教日记等好几个模块，这就是目前在使用的一个版本</i></p>
                        <p><i class="fa fa-asterisk">这个版本的开发基本上是由我一个人完成的，由于新增的模块太多，一些小的功能来不及开发，一些常用的模块尚需打磨，不过基本上能正常使用</i></p>
                        <p><i class="fa fa-asterisk">终于把这个版本发布到学校服务器了，不用在帮其他助教部署这个项目了</i></p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2017年6月X日（使用<em>EasyUI+SSH+MySQL</em>的第一版），<em>v1.1</em></h3>
                        <p>这个时候基础班，Java的就业班开班考试都可以使用这套系统。</p>
                        <p>EasyUI感觉有点丑，不过同事都在用，还算是小有成就吧！</p>
                        <p><i class="fa fa-asterisk"></i> <em>UI</em>这时候的系统还是单机版的，助教开班前还得把代码拷给他们，不过已经比纯<em>jsp</em>的版本好多了（︿(￣︶￣)︿）</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2016年X月Y日（已经不记得具体日期了），<em>beta</em></h3>
                        <p>传智之前的开班考试是这样的：助教下发试卷（word文档）和纸质答题卡给学生，助教必须在开班当天完成试卷批阅。</p>
                        <p>学生在word文档上看试题，然后把答案填写在答题纸上，非常不方便，于是我就想着把试卷搬到网页上。</p>
                        <p>
                            于是就有了第一版网页版开班试卷，这时候页面很简单，其实就是<em>html/css+jsp/servlet</em>版本</em>
                        </p>
                        <p><i class="fa fa-asterisk"></i> 这个版本页面比较简陋，因为试题全是选择器，在后台直接自动判卷，连数据库都没有。</p>
                        <p><i class="fa fa-asterisk"></i> 学生提交试卷后分数通过列表展示在网页上，助教只需要复制网页上的数据就行了，其余的我也记不起了。 <i class="layui-icon"></i></p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">起始点（~~~）</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="layui-col-md5">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>规划图</legend>
            </fieldset>
            <div class="layui-text">
                <ul>
                    <li>支持响应式，支持全设备访问</li>
                    <li>兼容人类目前正在使用的所有浏览器（IE6/7除外，其余版本IE稍有瑕疵）</li>
                    <li>后续版本将加上权限管理</li>
                    <li>下个版本准备使用微服务，缓存......</li>
                    <li>等等...</li>
                    <li>我会持续的优化，欢迎志同道合的朋友加入！</li>
                </ul>

            </div>
        </div>
    </div>
</div>