<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增班级</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/assets/css/public.css" media="all" />
</head>
<body >
<form class="layui-form"  style="margin-top: 20px;margin-right: 10px;">

    <div class="layui-form-item" >
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-inline">
            <input type="text" id="className" name="className" required lay-verify="required" placeholder="请输入班级名称" autocomplete="off" class="layui-input">
            <input type="hidden" id="classId" name="id" >
        </div>
        <label class="layui-form-label">班级类型</label>
        <div class="layui-input-inline">
            <select name="classType"  id="classType" lay-verify="required">
                <option value="">请选择班级类型</option>
                <option value="1">基础班</option>
                <option value="2">就业班</option>
            </select>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班主任</label>
        <div class="layui-input-inline">
            <input type="text" id="masterName" name="masterName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">开班日期</label>
        <div class="layui-input-inline">
            <input class="layui-input" type="text" id="classStartDate">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="classAddForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/static/assets/js/views/class_info/classInfoAdd.js"></script>
</body>
</html>